.listContainer {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    padding: 0 10px;

}

.listItem {
    width: 100vw;
    max-width: 380px;
    height: 25px;
    padding-left: 10px;
    padding-bottom: 4px;
    margin-bottom: 20px;
    caret-color: transparent;
}

.listItemCheck {
    text-decoration: line-through;
    color: #8d8d8d;
    caret-color: transparent;
}

.fillDiv {
    padding-left: 84px;
    margin-bottom: 10px;

}

.btn {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.btn:active {
    transform: scale(0.80);
}